
.title-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 40px;
}

.title {
    font-size: 80px;
    margin-bottom: 20px;
}

#file-properties {
    width: 100%;
    padding-bottom: 20px;
    border-bottom: solid 1px #4AF626;
    display: grid;
    grid-template-columns: auto auto;
    grid-template-rows: auto auto auto auto;
}

.subtitle {
    margin: 0px;
    color: #CCC;
}